#--------------------------------------------------------------------------------#
# .gitconfig
#--------------------------------------------------------------------------------#
# @author  | Artem
# @email   | artem.teleshev@gmail.com
# @site    | http://phpsw.net
# @version | 1.0.0
#--------------------------------------------------------------------------------#

[core] # http://githowto.com/ ------------------------------------------- {{{ ---#
  editor = vim
#  autocrlf = true
#------------------------------------------------------------------------ }}} ---#

[color] # http://githowto.com/ ------------------------------------------ {{{ ---#
  ui = true
#------------------------------------------------------------------------ }}} ---#

[alias] # http://githowto.com/aliases ----------------------------------- {{{ ---#
  co = checkout
  ci = commit
  st = status
  br = branch
  fp = format-patch --stdout -1
  patch = format-patch --no-prefix --stdout -1
  hist = log --pretty=format:\"%H | %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
#------------------------------------------------------------------------ }}} ---#

[push] # http://githowto.com/ ------------------------------------------- {{{ ---#
  default = simple
#------------------------------------------------------------------------ }}} ---#

